@charset "UTF-8";

body {
    /* background-color: #f7f7f7; */
    /* background-color: #E4D299; */
    /* background-color: #E1DDC3; */
    background-color: #F3F2E7;

}
main {
    max-width: 750px;
    word-wrap: break-word;
    padding-top: 100px;
}
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.04);
    height: 45px;
    color: #000;
}
.global-header {
    background: #212529 no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 24;
    width: 100%;
}
.global-header .header-text {
    position: relative;
    padding-bottom: 1px;
    height: 100%;
    background-color: #212529;
    color: rgba(255,255,255,0.9);
}
.global-header .header-text h1 {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 200;
    font-family: Courier !important;
}
.global-header .header-text h1 a {
    color: #ffffff;
    text-decoration: none;
}
.global-header .tag-line {
    margin: 10px auto;
    padding: 0 10px;
    max-width: 430px;
    color: rgba(255,255,255,0.7);
    text-align: center;
    font-weight: 300;
}

.btn {
    white-space: nowrap;
}

/* 画面サイズごとの設定 */
/* 479px以下 */
@media screen and (max-width: 479px) {
    main {
        padding-top: 70px;
    }

    .header-text h1 {
        font-size: 150%;
    }
}

/* 480px以上 764px以下*/
@media screen and (min-width: 480px) and (max-width: 764px) {
    .tab_wrap {
        width: 470px;
        margin: 10px auto;
    }
}

/* 765px以上 */
@media screen and (min-width: 765px) {
    .tab_wrap {
        width: 470px;
        margin: 10px auto;
    }
}
/* 画面サイズごとの設定 終了 */

footer{
    font-size: 80%;                 /*フォントサイズの指定*/
    width: 100%;                    /*横幅の指定*/
    text-align: center;             /*文字の中央寄せ*/
    padding-top: 10px;              /*文字上部の余白指定*/
    padding-bottom: 5px;            /*文字下部の余白指定*/
    background-color: #212529;    /*背景色の指定*/
}
footer address{
    color: #fff;          /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal;     /*文字の斜体を取り消す*/
}


/* メインコンテンツがヘッダーに隠れる現象の回避 */
/* 20191204 実装の過程で不要になった。 */
 .row-position-down{
    /*margin-top:-50px;*/
 }
