{% extends "layout.html" %}
{% block content %}
    <p>test api response report</p>
    <p>movie list</p>

    <p>{{response.execution}}</p>

    {% if response.execution %}
        {% for movie in response.data.results %}
        <div>
            <img src="https://image.tmdb.org/t/p/w92{{ movie.poster_path }}" alt="イメージポスター画像">
            <img src="https://image.tmdb.org/t/p/w92{{ movie.backdrop_path }}" alt="イメージバックドロップ画像">
            <p>{{movie.title}}</p>
            <p>{{movie.overview}}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>{{response.message}}</p>
        <p>{{response.data}}</p>
    {% endif %}
<!--
    <div>
        <p>{{response}}</p>
    </div> -->
{% endblock %}


